### AL ###
#Шаблон для всех проектов для Dynamics 365 Business Central
#запустите папку .json
.vscode/
#Папка кэша
.alcache/
#Папка символов
.alpackages/
#Папка с моментальными снимками
.снимки/
#Тестирование выходной папки
.вывод/
#Расширение App-file
* .app
#Файл для быстрой разработки приложений
rad.json
#База переводов-файл
* .g.xlf
#Лицензионный файл
* .flf
#Файл результатов тестирования
TestResults.xml
